.item-card{
    border: black solid;
    height:400px;
    width: 270px;
    margin-top:15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  
   

}

.card-image {
height: 200px;


}

.add-to-cart-btn{
height: 35px;
margin-top: -125px;
margin-left: 195px;
display:flex;

}
.add-to-cart-btn:active {
  transform: translateY(4px);
}

.size-list{
  width: 50px;
}

img.remove-btn{
  float:right;
  /* margin-top: 50px;
  margin-left: 25px; */

}

.product-info-body{
display: inline;

}

.del-update-btns{
  display: flex;
  justify-content: space-around;
}

img.edit-btn{
height: 25px;
float: right;
margin-top: 7px;


  }

  .btns{
    display: flex;
flex-direction: column;
  }

