.item-card{
    border: black solid;
    height:300px;
    width: 250px;
    margin-top:15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 15px;
   

}

.card-image {
height: 160px;
margin-bottom: -20px;
border-radius: 15px;
}

.add-to-cart-btn{
height: 35px;
margin-top: -43px;
margin-left: 180px;
display:flex;

}
.add-to-cart-btn:active {
  transform: translateY(4px);
}

.size-list{
  width: 50px;
}

.remove-btn{
  float:right;
  justify-content: baseline;
}

.product-info-body{
display: inline;
}




