.payment-form{
    border:solid black;
    padding:10px;
    margin-top: 20px;
    width: 370px;
    position: relative;
}

.card-number-input{
    width: 300px;
}

.card-name-input{
    width:300px;
}

.card-code-input{
    width:150px;
}

.card-date-input{
    width:150px;
}

.payment-imgs{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.payment-img{
    width:80px;
    height: 40px;
    margin: 8px;
}

.place-order-btn{
    background-color: black;
    color: white;
    float: center;
    text-decoration: none;
    margin-top: 5px;
   
   
    
}

.place-order-btn:hover{
    outline:none;
    text-decoration: none;
    color: white;
  }
  .place-order-btn:active {
    transform: translateY(2px);
  }